:root{
	--background: #c5c5c5;
	--dark:#25252580;
	--light:#d3d3d3;
	--first: #e0607e;
	--second:#d36060;
	--third:#c2714f;
	--fourth:#f6c5af;
}

body  {
	margin: 0px;
	padding:0;
	height:100%;
	display:flex;
	flex-direction:column;
	font-family: Roboto, sans-serif;
}

body a{
	text-decoration:none;
}

body li {
	list-style:none;
}

header {
	width: 100%;
	box-shadow: 0px 0.125rem 0.325rem #9b9b9b36;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.nav_link_list{
	list-style:none;
	display:flex;
	gap:10px;
	}

header p{
	color:var(--first);
}

header strong{
	color:black;
}


#nav_title {
	font-size: 22px;
	text-align:center;
}


a {
	text-decoration:none;
}

.box_container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	gap:50px;
}

.catch_text{
	color:white;
	font-weight:bold;
	font-size:32px;
	background-color: var(--second);
	width:100%;
	text-align:center;
}

.container_title {
	font-size:24px;
	font-weight:bold ;
	text-align:center;
	}

.card_container{
	display:flex;
	flex-direction:row;
	gap:25px;
	justify-content:center;
}

.card { 
	width:20%;
	background-color:#f5f5f523;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card_title{
	padding:0 1vh 0 1vh;
	font-weight:700;
	gap:5px;
	display:flex;
	flex-direction:column;
	color:black;
	font-size:24px;
	}

.card_title p{
	margin:2px;
	padding:0;
}

.card img{
	width:100%;
	max-width:100%;
	height:80%;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	max-height:100%;
}

.recipe_tag { 
	font-size:15px;
	font-weight:500;
	color:var(--dark);
}

.recipe_container{
	background-color:var(--fourth);
	color:white;
	display: flex;
	justify-content:center;
	align-items:center;
	gap:5%;
}


.recipe_container img{
	width:30vw;
	max-width:500px;
}

.recipe_desc {
	font-weight: 400;
	font-size: 20px;
	color:black;
}
.recipe_content {
	padding:0 1% 0 1%;
	margin: 0 0 1% 0;
	display:flex;
	flex-direction: column;
	gap: 10px;
	align-content:center;
	flex-wrap: wrap;
}

.recipe_content p{
	font-weight:800;
	font-size:23px;
}

.button_return {
	background-color:var(--first);
	border-radius:8px;
	width:fit-content;
	color:white;
	padding:8px;
	font-size:15px;
	font-weight:600;
}

.button_return a {
	color:white;
}

.button {
	padding:5px;
	font-size:16px;
	font-weight:800;
	border-radius:12px;
	margin-left: 2%;
}

.bg_white{
	background-color:var(--first);
	color:white;
}


#ps {
	font-style: italic;
	color:var(--dark);
	font-weight:400;
	font-size:14px;
}

#about_page {
	margin: 0 5% 0 5%;
	width:80%;
}

#odin_choice {
	background-color:var(--fourth);
	font-size:24px;
	height:100%;
}

#odin_title{ 
	font-size:26px;
}


#odin_choice.recipe_desc {
	text-align:center;
}

footer {
	background-color: var(--second);
	display:flex;
	flex-direction:column;
	color:white;
}

.footer_links a {
	color:white
}

.footer_container {
	text-align:center;
}

.footer_links{
	display:flex;
	flex-direction:column;
	padding:0;
	justify-content:center;
	align-items:center;
}

.footer_links p {
	font-weight:800;
	}

main {
	flex:1 0 95vh;
}
